<div class='header'>Step one: Choose your upload file</div>

<div ng-show='$ctrl.latestUpload'>
    Your latest upload at<span ng-bind='$ctrl.latestUpload'></span>
</div>

<div class='container'>

<div class='text-left'>
    <label for='fileElem' class='btn btn-default'>
            Click here to choose your file
    </label>
    <span ng-bind='$ctrl.filename'></span>
</div>

<br>

<div class='text-left'>
    <button
        type='button'
        class='btn btn-info'
        ng-disabled='!$ctrl.filename'
        ng-click='$ctrl.next()'
    >Next</button>
</div>

