<div class='header'>
    Step three: Customize your metrics
    <i
        class='fa fa-info-circle'
        data-toggle="tooltip"
        data-placement="right"
        title='You can always come back to change or add metrics'
        data-container="body"
    ></i>
</div>

<div class='container'>

<div class='well' ng-repeat='metric in $ctrl.metrics'>
    <div>
        <div class='input-label'>What metric do you want to get</div>
        <select class='form-control input-select' ng-model='metric.alligator'>
            <option value='COUNT'    >COUNT</option>
            <option value='SUM'      >SUM</option>
            <option value='RETENTION'>RETENTION</option>
        </select>
    </div>

    <div>
        <div class='input-label'>It will take action on</div>
        <select
            class='form-control input-select'
            ng-model='metric.column'
            ng-options='field.name as field.name for field in $ctrl.fields'
        >
        </select>
    </div>

    <div>
        <div class='input-label'>Name it as</div>
        <input class='form-control input-select' ng-model='metric.name'
            placeholder='{{ metric.column + "-" + metric.alligator }}'
        >
    </div>

</div>

<div class='text-center'>
    <i class='fa fa-plus fa-2x' ng-click='$ctrl.addMetric()' style='margin-bottom: 2em;' title='Add metric'></i>
    <br>
    <button
        type='button'
        class='btn btn-info'
        ng-disabled='!$ctrl.metrics[0].alligator || !$ctrl.metrics[0].column'
        ng-click='$ctrl.upload()'
    >Upload</button>
</div>
<input type='text' style='display:none' id='uploadData' name='data' ng-model='$ctrl.data'>

</div>
