<div class='header'>第二步: 和我们介绍下您的数据</div>

<div class='container'>

<div class='well' ng-repeat='field in $ctrl.fields'>

    <div>
        列名: <span class='field-name' ng-bind='field.name'></span>
    </div>

    <div>
        它代表了
        <select
            class='form-control input-select'
            ng-model='field.fieldType'
            ng-options='fieldType.label for fieldType in $ctrl.fieldTypes track by fieldType.name'
        ></select>
            <div class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"  ng-if='$first' style="color: #34495E;background-color:transparent; border-color: transparent;">
                <label class="glyphicon glyphicon-question-sign" ng-if='$first'></label>
            </div>
<!--         <a class='btn btn-link' target='_blank' href='/static/img/guide to choosing the correct option.pdf'>
            <i
                class='fa fa-question-circle'
                ng-if='$first'
                data-toggle="tooltip"
                data-placement="right"
                title="Click here to find out how to choose the correct option"
                data-container="body"
            ></i>
        </a> -->
        <span ng-if='field.fieldType.subTypes'>
            in
            <select
                class='form-control input-select'
                ng-model='field.fieldSubType'
                ng-options='item.label for item in field.fieldType.subTypes'
            >
                <option value=''>请选择类型</option>
            </select>
        </span>

    </div>
</div>

<div class='text-center'>
    <button
        type='button'
        class='btn btn-info'
        title='{{ $ctrl.message }}'
        ng-disabled='$ctrl.nextDisabled()'
        ng-click='$ctrl.next()'
    >下一步</button>
</div>

</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">类型选择说明书</h4>
        <div class="modal-body">
          <p>*事件、事件和用户ID是必须且唯一的</p>
          <img src="../static/img/selection.png" style="width:800px;height:800px;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
        </div>
        </div>
    </div>
</div>
