<div class='header'>第一步: 上传文件</div>

<div ng-show='$ctrl.latestUpload'>
您上次上传的是 <span ng-bind='$ctrl.latestUpload'></span>
</div>

<div class='container'>

<div class='text-left'>
    <label for='fileElem' class='btn btn-default'>
            请点这儿选择文件
    </label>
    <span ng-bind='$ctrl.filename'></span>
</div>

<br>

<div class='text-left'>
    <button
        type='button'
        class='btn btn-info'
        ng-disabled='!$ctrl.filename'
        ng-click='$ctrl.next()'
    >下一步</button>
</div>

