{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block    head %}
{% endblock head %}

{% block    body %}
<div class="row" style="padding: 30px;">
	<div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
		<h2><b>{% trans "Admission Person-time" %}</b></h2>
		<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
			<button class="btn btn-info btn-block"><b>292,278</b></button>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
		<h2><b>{% trans "Total Admission Patients" %}</b></h2>
		<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
			<button class="btn btn-info btn-block"><b>150,205</b></button>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
		<h2><b>{% trans "Re-admission Rate" %}</b></h2>
		<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
			<button class="btn btn-info btn-block"><b>11.152%</b></button>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
		<h2><b>{% trans "Daily Visted Users" %}</b></h2>
		<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
			<button class="btn btn-info btn-block"><b>431</b></button>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Medicine Consumption over Time" %}</h4>
			</div>
			<div class="panel-body">
				<div  style="height:250px" id="medicine" class="chartpanel" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Disease Diagnosed over Time" %}</h4>
			</div>
			<div class="panel-body">
				<div  style="height:250px" id="disease" class="chartpanel" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div id="panel_dau" class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Daily Admitted Patients" %}</h4>
			</div>
			<div class="panel-body">
				<div style="height:250px" id="dau" class="chartpanel" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Admission of Male vs Female in 2012" %}</h4>
			</div>
			<div class="panel-body">
				<div  style="height:250px" id="gender" class="chartpanel" ></div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div id="panel_map" class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Patient Citizenship Distribution" %}</h4>
			</div>
			<div class="panel-body">
				<div style="height:250px" id="map" class="chartpanel" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Composition by Birthyear" %}</h4>
			</div>
			<div class="panel-body">
				<div  style="height:250px" id="birthyear" class="chartpanel" ></div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-sm-12 col-xs-12" id='last_chart' style="display: none">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>{% trans "Last Loaded Cohort Analysis Chart" %}</h4>
			</div>
			<div class="panel-body">
				<div id="line" style="height:0px"></div>
				<div id="heat" style="height:0px;display: none"></div>
			</div>
		</div>
	</div>
	<!-- <div class="col-md-4 col-sm-12 col-xs-12">
		<div class="panel panel-default panel-container" >
			<div class="panel-heading">
				<h4>Time between purchases</h4>
			</div>
			<div class="panel-body">
				<div  style="height:600px" id="time" class="chartpanel" ></div>
			</div>
		</div>
	</div> -->

</div>

<div class="modal fade" id="detail" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="modal-title">Modal Header</h4>
			</div>
			<div id="detail-chart" style="height:600px; width: 500px;"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

</div>
{% endblock %}

{% block scripts %}
<script>
	var medicineData = {{ medicineData|safe }};
	var diseaseData = {{ diseaseData|safe }};
	var genderData = {{ genderData|safe }};
	var dauData = {{ dauData|safe }};
	var map_data = {{ mapData|safe }};
	var last_loaded = {{ last_loaded|safe }};
	var birthData = {{ birthData|safe }};
</script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/world.js' %}"> </script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}





