{% extends 'base.html' %}
{% load static %}

{% block    head %}
{% endblock head %}

{% block    body %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row"> 
    <div class="alert alert-danger">
      <strong>Critical Error!</strong> Please contact the technical support.
    </div>
    <h3>FAQ:</h3>
    <ul>
    <li>Q1: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q2: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q3: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q4: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q5: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q6: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q7: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q8: blablabla? <p>blabla blabla blabla.</p></li>
    <li>Q9: blablabla? <p>blabla blabla blabla.</p></li>
    </ul>
  </div>
  </div>
{% endblock body %}