{% extends 'base_cn.html' %}
{% load static %}

{% block    head %}
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock head %}

{% block    body %}
<div class="row" style="padding: 30px;">
    <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
        <h2><b>总入院人次</b></h2>
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
            <button class="btn btn-info btn-block"><b>960,402,201</b></button>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
        <h2><b>总入院人数</b></h2>
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
            <button class="btn btn-info btn-block"><b>3,250,191</b></button>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
        <h2><b>重入院率</b></h2>
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
            <button class="btn btn-info btn-block"><b>28.491%</b></button>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
        <h2><b>当日访问人数</b></h2>
        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
            <button class="btn btn-info btn-block"><b>328,355</b></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4>药物消耗</h4>
            </div>
            <div class="panel-body">
                <div  style="height:250px" id="medicine" class="chartpanel" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4>诊断病情</h4>
            </div>
            <div class="panel-body">
                <div  style="height:250px" id="disease" class="chartpanel" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div id="panel_dau" class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4>每日访问病人</h4>
            </div>
            <div class="panel-body">
                <div style="height:250px" id="dau" class="chartpanel" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4>男女入院比例</h4>
            </div>
            <div class="panel-body">
                <div  style="height:250px" id="gender" class="chartpanel" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div id="panel_map" class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4> Distribution Geo Map </h4>
            </div>
            <div class="panel-body">
                <div style="height:250px" id="map" class="chartpanel" ></div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4> Most Purchased</h4>
            </div>
            <div class="panel-body">
                <div  style="height:250px" id="continent" class="chartpanel" ></div>
            </div>
        </div>
    </div>










    <div class="col-md-8 col-sm-12 col-xs-12" id='last_chart' style="display: none">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4> Last Loaded Cohort Analysis Chart</h4>
            </div>
            <div class="panel-body">
                <div id="line" style="height:0px"></div>
                <div id="heat" style="height:0px;display: none"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default panel-container" >
            <div class="panel-heading">
                <h4>Time between purchases</h4>
            </div>
            <div class="panel-body">
                <div  style="height:600px" id="time" class="chartpanel" ></div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="detail" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-title">Modal Header</h4>
            </div>
            <div id="detail-chart" style="height:600px; width: 500px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</div>
{% endblock %}

{% block scripts %}
<script>
    var medicineData = {{ medicineData|safe }};
    var diseaseData = {{ diseaseData|safe }};
    var genderData = {{ genderData|safe }};
    var dauData = {{ dauData|safe }};
    var map_data = {{ mapData|safe }};
    var last_loaded = {{ last_loaded|safe }};
</script>
<script src="{% static 'js/world.js' %}"> </script>
<script src="{% static 'js/dashboard.js' %}">
</script>
{% endblock %}





