{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block    head %}
<link href="{% static 'css/simple-retention.css' %}" rel="stylesheet">
<script>
    const CSRF_TOKEN = "{{ csrf_token }}";
    const datasource = "{{ datasource }}";
    const ageField = "{{ ageField }}";
    function redirectToAdvanced() {
        console.log("d");
        window.location.href = "/{{ LANGUAGE_CODE }}/retention/advance";
    }
</script>

{% endblock head %}

{% block    body %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans "Cohort Analysis" %}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <div class="btn-group" data-toggle="modal" data-target="#myModal">
                                <label class="glyphicon glyphicon-question-sign">
                                </label>
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="options" id="option2"> {% trans "Simple" %}
                                </label>
                                <label class="btn btn-default" onclick="redirectToAdvanced()">
                                    <input type="radio" name="options" id="option1" onclick="redirectToAdvanced()"> {% trans "Advanced" %}
                                </label>
                            </div>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12">
                            <div id="drag-boxes">
                            
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 col-xs-12">
                                        <ul id="sortable0" class="connectedSortable">
                                            <div class="list-label">{% trans "Available Events" %}</div>
                                            {% for event in events %}
                                            <li class="draggable-event ui-state-default" data-label='{{ event }}'>{{ event }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="col-md-5 col-sm-4 col-xs-12">
                                        <div id="sortables-container">
                                            <ul id="sortable1" class="connectedSortable">
                                                <div class="list-label">{% trans "User Did" %} </div>
                                                <div class="list-placeholder">{% trans "(Any Event)" %}</div>
                                            </ul>
                                            <div class="list-separator"> &nbsp; </div>
                                            <ul class="connectedSortable2" onchange="changeFunc1();">
                                                <div class="list-label">{% trans "Group By" %} </div>
                                                {% for cohort in cohortAttr %}
                                                <label class="draggable-event2 ui-state-default" for='cohortField1' >
                                                  <input type="radio" name="cohortField" id="cohortField1" value="{{ cohort }}" checked> {{ cohort }}
                                                </label>
                                                {% endfor %}
<!--                                                 
                                                <label class="draggable-event2 ui-state-default" for='cohortField1' >
                                                  <input type="radio" name="cohortField" id="cohortField1" value="role" checked> Role
                                                </label>
                                                <label class="draggable-event2 ui-state-default" for='cohortField2' >
                                                  <input type="radio" name="cohortField" id="cohortField2" value="continent"> Continent
                                                </label>
                                                <label class="draggable-event2 ui-state-default" for='cohortField3' >
                                                  <input type="radio" name="cohortField" id="cohortField3" value="money"> Money
                                                </label>
                                                <label class="draggable-event2 ui-state-default" for='cohortField4' >
                                                  <input  type="radio" name="cohortField" id="cohortField4" value="sessionLength" > Session Length
                                                </label> -->
                                            </ul>
                                            <div class="list-separator"> &nbsp; </div>
                                            <ul class="connectedSortable2" onchange="changeFunc2();">
                                                <div class="list-label">{% trans "Within" %} </div>
                                                <label class="draggable-event2 ui-state-default" for='time1' >
                                                  <input type="radio" name="time" id="time1" value="7" checked> 1 - 7 {% trans "Days" %}
                                                </label>
                                                <label class="draggable-event2 ui-state-default" for='time2'>
                                                  <input type="radio" name="time" id="time2" value="15"> 1 - 15 {% trans "Days" %}
                                                </label>
                                                <label class="draggable-event2 ui-state-default" for='time3'>
                                                  <input type="radio" name="time" id="time3" value="30"> 1 - 30 {% trans "Days" %}
                                                </label>
                                            </ul>
                                            <div class="list-separator"> &nbsp; </div>
                                            <ul class="connectedSortable2" onchange="changeFunc3();">
                                                <div class="list-label">{% trans "Measure by" %} </div>
                                                {% for measure in measures %}
                                                <label class="draggable-event2 ui-state-default" for='retention{{ forloop.counter }}'>
                                                    {% if forloop.counter == 1 %}
                                                        <input type="radio" name="measure" id="retention{{ forloop.counter }}" value="{{ measure }}" checked> {{ measure }}
                                                    {% else %}
                                                        <input type="radio" name="measure" id="retention{{ forloop.counter }}" value="{{ measure }}" > {{ measure }}
                                                    {% endif %}
                                                </label>
                                                {% endfor %}
                                            </ul>
                                            
                                        </div>
                                    </div>


                                    <div class="col-md-2 col-sm-4 col-xs-12 button-col">
                                        <button onclick="location.reload()" class="btn btn-danger">{% trans "Reset" %}</button><br>
                                        <button onclick="updateChart()" class="btn btn-info">{% trans "Submit" %}</button>
                                        
                                    </div>
                                </div>
                                <div id="line" style="height:0px"></div>
                                <div id="heat" style="height:0px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">     
      <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "Simple Model Tutorial" %}</h4>
        </div>
        <div class="modal-body">
          <p>{% trans "Simple model allows you to access to cohort analysis just with a few clicks" %}</p>
          <img src="../../static/img/simple_tutorial.png" style="width:580px;height:340px;">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
        </div>
    </div>
</div>


{% endblock body %}


{% block    scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src='{% static "js/simple-retention.js" %}'></script>
{% endblock scripts %}
